:root {
    --main-bg-color: #F6EBD5;
    --main-text-color: black;

    --header-bg-color: #E9A41C;
    --header-text-color: #0B330B;
    --header-hight: 200px;

    --footer-bg-color: var(--header-text-color);
    --footer-text-color: var(--header-bg-color);

    --top-menu-bg: #619060;
    --top-menu-active: #619000;
    --top-menu-inactive: #614F60;
    --top-menu-text: black;
}

/* ------------- */

#resume-div {
    margin: 100px;
}

/* ------------- */

#body a:link { color: inherit; }
#body a:visited { color: inherit; }
#body a:hover { color: inherit; }
#body a:active { color: inherit; }
body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: sans-serif;
}

/* ------------- */

#top-left-tagline {
    float: left;
    padding: 20px;
    font-variant: small-caps;
}

#header {
    display: block;
    width: 100%;
    height: var(--header-hight);
    overflow: scroll;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

img {
    float: right;
    max-width:100%;
    max-height:100%;
}

/* ------------- */

#top-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--top-menu-bg);
    color: var(--top-menu-text);
    position: absolute;
    bottom: 2px;
    width: 100%
}

#top-menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#top-menu li {
    float: left;
}

#top-menu li a:hover:not(.active) {
    color: var(--top-menu-bg);
    background-color: var(--top-menu-text);
    /* background-color: var(--top-menu-inactive); */
}

#top-menu .active {
    background-color: var(--top-menu-active);;
}

/* ------------- */

#main {
    padding-top: var(--header-hight); /* HACK!!! */
}

/* ------------- */

#footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-right: 100px;
    line-height: 2;
    text-align: right;
    font-size: 10px;
}
